configuration {
    font: "JetBrainsMono Nerd Font 11";
    hover-select: true;
    location: 3;
    anchor: northeast;
    xoffset: -5;
    yoffset: 55;
    timeout {
        delay: 3;
        action: "kb-cancel";
    }
}

@import "./themes/wuntu-noble.rasi"