@import "../colors.gtk.css";

/* Bluetooth State Styling */
#bluetooth.off {
  color: @bluetooth-off;
}

#bluetooth.on {
  color: @bluetooth-on;
}

#bluetooth.connected {
  color: @bluetooth-connected;
}
