@import "../colors.gtk.css";

/* Battery State Styling */
#battery {
  color: @base-battery;
}

#battery.half {
  color: @battery-half;
}

#battery.warning {
  color: @battery-warning;
}

#battery.critical {
  color: @battery-critical;
  background-color: @battery-critical-bg;
}

/* charging takes precedence over any status */
#battery.charging {
  color: @battery-charging;
}
