@import "../colors.gtk.css";

/* Network Styling */
#network.disconnected {
  color: @network-disconnected;
}

#network.wifi {
  color: @network-connected;
}

#network.ethernet {
  color: @network-connected;
}
