Package: kale-pkg
Version: 1.0.0
Priority: optional
Architecture: amd64
Depends: flatpak,
    gimp,
    inkscape,
    libreoffice-gtk3,
    libreoffice-writer,
    libreoffice-calc,
    libreoffice-impress,
    libreoffice-draw

Section: utils
Maintainer: Kale Suarez <jeremiahsuarez06@gmail.com>
Description: Kale's personal software, feel free to use if you want.
