Package: mnz-land
Version: 1.0.26
Priority: optional
Architecture: amd64
Depends: rofi,
 waybar,
 labwc,
 lxpolkit,
 wlopm,
 swayidle,
 gtklock,
 wlogout,
 pkexec,
 waybar,
 nwg-look,
 swaybg,
 libnotify4,
 sway-notification-center,
 network-manager,
 pipewire,
 loupe,    
 pipewire-pulse,
 wireplumber,
 blueman,
 pavucontrol,
 swayidle,
 brightnessctl,
 wlr-randr,
 tlp,
 psmisc,
 sudo,
 curl,
 cups,
 system-config-printer,
 kitty,
 thunar,
 thunar-archive-plugin,
 file-roller,
 grim,
 slurp,
 git,
 gh,
 nmrs-gui,
 mnz-land-dark-theme,
 xdg-utils,
 wl-clipboard,
 gnome-keyring,
 ufw
Recommends: firefox-esr, code
Section: utils
Maintainer: Kale Suarez <jeremiahsuarez06@gmail.com>
Description: A minimal wayland desktop environment
