Package: mnz-land
Version: 1.0.6
Priority: optional
Architecture: amd64
Depends: rofi,
 waybar,
 labwc,
 waybar,
 nwg-look,
 swaybg,
 sway-notification-center,
 network-manager,
 pipewire,    
 pipewire-pulse,
 wireplumber,
 pavucontrol,
 swayidle,
 brightnessctl,
 wlr-randr,
 tlp,
 psmisc,
 sudo,
 curl,
 cups,
 system-config-printer,
 kitty,
 thunar,
 thunar-archive-plugin,
 file-roller,
 grim,
 slurp,
 git,
 gh,
 nmrs-gui,
 mnz-land-dark-theme,
 firefox-esr,
 code,
 xdg-utils
Section: utils
Maintainer: Kale Suarez <jeremiahsuarez06@gmail.com>
Description: A minimal wayland desktop environment
