Package: mnz-land-dark-theme
Version: 1.0.15
Priority: optional
Architecture: amd64
Section: utils
Maintainer: Kale Suarez <jeremiahsuarez06@gmail.com>
Description: Dark Default Themeing for mnz-land
